server:
  port: 4010

jwt:
  secret: dGhpcy1pcy1hLXNlY3JldC1rZXktZm9yLWp3dC1hdXRoZW50aWNhdGlvbi1leGFtcGxlCg==

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: auth-service-route
          uri: http://auth-service:4011
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: snippet-service-route
          uri: http://snippet-service:4001
          predicates:
            - Path=/api/snippet/**
          filters:
            - StripPrefix=1
            - JwtValidation